<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liadpaz.tic_tac_toe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@mipmap/tic_tac_toe"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tic_tac_toe_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor"
        android:allowBackup="true">
        <activity android:name="com.liadpaz.tic_tac_toe.DeveloperActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.liadpaz.tic_tac_toe.Statistics"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.liadpaz.tic_tac_toe.LobbyActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.liadpaz.tic_tac_toe.JoinMultiplayer"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.liadpaz.tic_tac_toe.Game"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.liadpaz.tic_tac_toe.SettingsActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.liadpaz.tic_tac_toe.MainActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>